/.idea/.idea.Survival Shapes/.idea/.gitignore
/.idea/.idea.Survival Shapes/.idea/encodings.xml
/.idea/.idea.Survival Shapes/.idea/indexLayout.xml
/.idea/.idea.Survival Shapes/.idea/projectSettingsUpdater.xml
/.idea/.idea.Survival Shapes/.idea/vcs.xml
/.idea/.idea.Survival Shapes/.idea/workspace.xml

# Unity generated (never commit)
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Oo]bj/
[Uu]ser[Ss]ettings/
[Pp]rofiler[Cc]aptures/

# Large Assets to ignore
Assets/8Bit Music - 062022/
Assets/Free Pack/

# Rider/IDE
.idea/
.vs/

# Unity-generated solution/project files
*.sln
*.csproj
*.DotSettings.user

